*.elc
*.o
*.log
*.hi
config.h
config.status
temp.el
Makefile
bin/Makefile
bin/incm
bin/incm.exe
bin/mew-pinentry
bin/mewcat
bin/mewcat.exe
bin/mewdecode
bin/mewdecode.exe
bin/mewencode
bin/mewencode.exe
bin/mewl
bin/mewl.exe
bin/hs/smew
bin/hs/smew.exe
bin/hs/cmew
bin/hs/cmew.exe
bin/hs/dist
TAGS
info/dir
